body {
    background-image: url('https://phoneky.co.uk/thumbs/screensavers/down/abstract/bluenumber553212.gif');
    background-size: cover;
    height: 100%;
    padding:0;
    margin:0;
}

button {
    width: 2.5em;
    height: 2.5em;
    font-size: 1.5em;
    border: none;
    border-radius: 10%;
    margin: 0.3em;
    /*opacity: 70%;*/
}

button:hover {
    cursor: pointer;
}

.backgr {
    background-color: #483D8B /*linear-gradient(darkblue, blue, lightblue)*/;
    border-radius: 1em;
    padding: 2em;
}

.op {
    background-color: #FA8072;
    color: white;
}

.numero {
    background-color: #1E90FF;
    color: white;
}

.led {
    color: white; 
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    font-size: 3.5em;
}

.con {
    color: white;
    background-color: rgb(148, 148, 3);
}